.card {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom right, rgb(47, 0, 255), rgb(39, 209, 231) );
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}